<h1>URL shortener</h1>

<form action="your_url" method="post">
    <!-- 1. what is full length url the user wants
    2. what code should be associated with the url
    3. button to submit the form 
    action specifies the path where the form will submit the data-->
    <label for="url">Website URL:</label>
    <input type="url" name="url" value="" required>
    <br>
    <label for="code">Shortened Name:</label required>
    <input type="text" name="code" value="">
    <br>
    <input type="submit" value="Shorten the URL">
</form>


